<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Spring eCommerce</title>


  <!-- Bootstrap core CSS -->
  <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{css/heroic-features.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <div th:include="administrador/template_admin.html::header"></div >


      <!-- Jumbotron Header -->
      <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bienvenido! &#128075; </h1>
    <p class="lead">Ofrecemos un extenso catalogo al mejor precio siendo destacados como la librería de referencia obligada para quienes buscan tanto el último bestseller como un texto escolar o algún título difícil de conseguir.</p>
  </div>
</div>

    <!-- Page Content -->
    <div class="container">


      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4" th:each="producto: ${productos}">
          <div class="card h-100">
            <img class="card-img-top" th:src="@{/images/{img} (img=${producto.imagen})}" alt="">
            <div class="card-body">
              <p class="card-text" th:text="${producto.nombre}"></p>
             <b> <p class="card-text" th:text="'$ ' + ${producto.precio}"></p></b>
            </div>
            <div class="card-footer">
              <a href="productohome.html" class="btn btn-success">Ver producto</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

   <div th:include="administrador/template_admin.html::footer"></div >

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  </body>

  </html>
